:root
{
  --cFontSize: calc(1.5625*(1vw + 1vh));
  --cTableBorderSize: calc(0.09765625*(1vw + 1vh));
  --cCol01: rgb(31.875, 31.875, 31.875);
  --cCol02: rgb(63.75, 63.75, 63.75);
  --cCol03: rgb(95.625, 95.625, 95.625);
  --cCol04: rgb(127.5, 127.5, 127.5);
  --cCol05: rgb(159.375, 159.375, 159.375);
  --cCol06: rgb(191.25, 191.25, 191.25);
  --cCol07: rgb(223.125, 223.125, 223.125);
}

* { font-family: sans-serif; }

body { margin: 1.5625% 1.5625% 1.5625% 1.5625%; }

/* TOP PANEL */
nav ul
{
  margin: 1.5625%;
  display: inline;
}

nav ul li
{
  display: inline-block;
  list-style-type: none;
  padding: 1.5625%;
}

input, button, .cstmSel, checkbox, fieldset, legend
{
  padding: 0.78125%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

input, button, .cstmSel, checkbox, table, fieldset, legend
{
  outline-style: round; border-radius: calc(0.390625*(1vw + 1vh));
}

input, button, .cstmSel, table, fieldset, legend, body { font-size: var(--cFontSize); }

h1, h2, h3 { text-align: center; }
h1 { font-size: calc(2.00*var(--cFontSize)); }
h2 { font-size: calc(1.75*var(--cFontSize)); }
h3 { font-size: calc(1.50*var(--cFontSize)); }
h4 { font-size: calc(1.25*var(--cFontSize)); }

figcaption { font-size: calc(0.5*var(--cFontSize)); }

.outDiv { font-size: calc(2.00*var(--cFontSize)); }

.MagnTitle, .nullType, .electricType, .magneticType, .collinearType { margin-top: 0; }
.MagnTitle, .UnitDirTitle { margin-bottom: 0; }

button { margin: 1.5625% 1.5625% 1.5625% 1.5625%; }

.cstmInpt { max-width: 25%; }
.cstmSel { max-width: 31.25%; }

.container { margin: 1.5625% 1.5625%; display: flex; justify-content: center; }
.adaptDiv { width: 46.875%; margin: 0 auto; }
fieldset { width: auto; margin: 0 auto; }

/* TABLE */
table, td, th { border-collapse: collapse; }
td, th { padding: 1.5625vw 1.5625vh; }
#inputTable { margin-right: auto; margin-left: auto; }
#colorInputTable tr {margin: 0 auto; text-align: center; vertical-align: middle;}

@media screen and (orientation: portrait)
{
  .container { display: unset; }
  .adaptDiv { width: 93.75%; }
}

@media (prefers-color-scheme: light)
{
  h1 { color: var(--cCol02); }
  h2 { color: var(--cCol03); }
  h3 { color: var(--cCol04); }
  h4 { color: var(--cCol05); }
  body { background-color: var(--cCol07); }
  input, button, .cstmSel, checkbox, legend, a {  background-color: var(--cCol06);  }
  input, button, .cstmSel, checkbox, table, body, a { color: var(--cCol02); }
  table, td, th, fieldset { border: var(--cTableBorderSize) solid var(--cCol02); }
}

@media (prefers-color-scheme: dark)
{
  h1 { color: var(--cCol06); }
  h2 { color: var(--cCol05); }
  h3 { color: var(--cCol04); }
  h4 { color: var(--cCol03); }
  body { background-color: var(--cCol01); }
  input, button, .cstmSel, checkbox, legend, a { background-color: var(--cCol02);  }
  input, button, .cstmSel, checkbox, table, body, a { color: var(--cCol06); }
  table, td, th, fieldset { border: var(--cTableBorderSize) solid var(--cCol06); }
}

/* VALID OR INVALID INPUT */
input:invalid+span:after
{
  content: '✖';
  padding-right: 1.5625%;
}

input:valid+span:after
{
  content: '✓';
  padding-right: 1.5625%;
}

/* NO ARROWS OR SPINNERS ON INPUT BOXES */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{ -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

/* BUTTONS */
.cstmBtn { margin: 0 auto; display: block; }

/* P5 SLIDERS */
.sketchSliders
{
  background: rgba(127.5, 127.5, 127.5, 0.25);
  accent-color: rgba(127.5, 127.5, 127.5, 0.75);
}

.sketchSliders::-moz-range-progress
{ background-color: rgba(127.5, 127.5, 127.5, 0.5); }

.sketchSliders::-moz-range-thumb
{
  cursor: pointer;
  background: rgba(127.5, 127.5, 127.5, 0.75);
}

.sketchSliders::-webkit-slider-thumb
{ cursor: pointer; }
